* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

/* Pro výběr barev můžeš použít např: https://imagecolorpicker.com/
Pro vygenerování stínu pro tlačítko můžeš použít např: https://cssgenerator.org/box-shadow-css-generator.html */

/* Tady je místo pro tvůj kód */
