* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

button {
  font-size: 100%;
  border: none;
}

.container {
  background-color: aquamarine;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first {
  background-color: blue;
  color: aliceblue;
}

.second {
  background-color: green;
  color: honeydew;
}
